<!DOCTYPE html>

<html data-layout-decorator="layout" >

  <body>
	<div class="container" data-layout-fragment="content">

		<div class="modal-dialog login">
			<div class="modal-content">
				<div class="modal-header text-center">
					<strong>Error</strong>
				</div>
				<div class="alert alert-danger text-center">
				  <span class="glyphicon glyphicon-exclamation-sign text-center" aria-hidden="true"></span>
					Oops: something went wrong

					<p>
						<code data-th-text="${exception}">
						</code>
					</p>
				</div>

			</div>
		</div>
							
 	</div>
 </body>
 
</html>